// collapsible areas
.collapsible-open, .collapsible-closed {
    background-color:transparent;
    border-bottom-color:transparent;
    cursor:pointer;
    position:relative;
    > * {
      height:200em;
    }
    padding: 1rem;
    position: relative;
    &:hover {
        color:#949481;
    }
    &:after {
      margin-right: .75em;
      content:"❯";
      right: 0;
      position: absolute;
      transition: transform .5s;
    }
    transition: border-color .5s;
}

h2.collapsible-open,
h3.collapsible-open,
h4.collapsible-open,
h5.collapsible-open,
h6.collapsible-open,
h2.collapsible-closed,
h3.collapsible-closed,
h4.collapsible-closed,
h5.collapsible-closed,
h6.collapsible-closed {
    margin-bottom: 0 !important;
    padding: 1rem !important;
    border-bottom: solid thin;
}
.collapsible {
    margin-bottom: 1rem;
  p{
    margin-left:1rem;
    margin-right:1rem;
  }
  .open p{
    margin-bottom:1rem;
  }
}

.collapsible-closed {
    &:after {
        transform: rotate(-90deg);
    }
    border-color:rgba(0, 0, 0, .0) !important;
}
.collapsible-open {
  border-color:rgba(0, 0, 0, 1) !important;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding-top .5s;
    &.open, &.transition-open {
      padding-top: 1em;
    }
}

div.collapsible {
  border:1px solid rgba(0, 0, 0, 0.16);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-height:0.3rem;
  margin: 1rem;
}
